* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: #039be5;
  display: flex;
}

nav ul {
  display: inline;
}

ul li {
  list-style: none;
}
li a {
  text-decoration: none;
  margin: 2 rem;
}

main {
  background-color: cornflowerblue;
}

section {
  background-color: darkgray;
}

footer {
  background-color: black;
  color: white;
}
