* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Navbar */
nav {
  background-color: #039be5;
}

.navbar {
  display: flex;
  list-style: none;
  font-size: 1em;
  margin: 0;
}

@media only screen and (max-width: 600px) {
  .navbar {
    font-size: 0.7em;
  }
}

li {
  padding: 20px;
}
a {
  color: #f5f5f6;
  text-decoration: none;
}

.push {
  margin-left: auto;
}
/* main */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.cover {
  width: 20rem;
}
/*grid  */
section {
  background-color: #7abcff;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.box > img {
  width: 100%;
}

.box {
  background-color: #444;
  padding: 100px;
  margin: 10px;
}

footer {
  text-align: center;
  background-color: #ed6b51;
  color: #444;
  height: 6vh;
  padding-top: 10px;
}
