* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: blue;
}

main {
  background-color: cornflowerblue;
}

section {
  background-color: darkgray;
}

footer {
  background-color: black;
  color: white;
}
